.Rproj.user/*
.Rdata
.Rhistory
cf0dan.Rproj
final_emuDB/*
index.log
index.tex
.Rproj.user
.httr-oauth
.DS_Store
.quarto
data/gam_maxre_rho.Rda
data/gam_rawtime.Rda
data/gam_st.Rda
dc.Rda
psout.Rda
cf0dan_response.pdf
DaTa*
for_typesetters/*
response*
